.container {
  display: flex;
  gap: 0.75em;
}

.label {
  font-weight: 800;
}

.content {
  font-weight: 600;
  letter-spacing: 2px;
}

.hovered {
  animation: pulse 1s ease-in-out infinite;
}

@keyframes pulse {
  50% {
    background-color: var(--highlightColor);
  }
}